@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Book"),
    local("FuturaPT-Book"),
    url("../fonts/Futura PT/FuturaPT-Book.woff") format("woff"),
    url("../fonts/Futura PT/FuturaPT-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Demi"),
    local("FuturaPT-Demi"),
    url("../fonts/Futura PT/FuturaPT-Demi.woff") format("woff"),
    url("../fonts/Futura PT/FuturaPT-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Light"),
    local("FuturaPT-Light"),
    url("../fonts/Futura PT/FuturaPT-Light.woff") format("woff"),
    url("../fonts/Futura PT/FuturaPT-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Medium"),
    local("FuturaPT-Medium"),
    url("../fonts/Futura PT/FuturaPT-Medium.woff") format("woff"),
    url("../fonts/Futura PT/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Italic"),
    local("SegoeUI-Italic"),
    url("../fonts/Segoe UI/SegoeUI-Italic.woff") format("woff"),
    url("../fonts/Segoe UI/SegoeUI-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Light-italic"),
    local("SegoeUI-Light-italic"),
    url("../fonts/Segoe UI/SegoeUI-Light-italic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Forum";
  src: local("Forum"),
    url("../fonts/Forum/Forum.woff") format("woff"),
    url("../fonts/Forum/Forum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
