.sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 587px;
  gap: 20px;
  margin-bottom: 20px;
}

.sections__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $black;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &--for-man {
    background-image: url("../img/section-man.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/section-man@2x.jpg");
    }
  }

  &--for-woman {
    background-image: url("../img/section-woman.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/section-woman@2x.jpg");
    }
  }

  &:hover {
    transition: all 4s ease;

    &::after {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
    }
  }
}

.sections__heading {
  font-family: "Forum", serif;
  font-size: 64rem;
  line-height: 1.1;
  color: $white;
  text-align: center;
  order: 2;
  position: relative;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 130rem;
    background: $white;
  }
}

.sections__link {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 24rem;
  line-height: 1.3;
  color: $white;
  display: inline-block;
  order: 1;
  text-align: center;
  z-index: 10;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  // }
}
